{% extends 'pages/base.html' %}

{% block content %}
<div class="card card-body">
    <div class="mb-3">
       <button class="btn btn-sm btn-success text-light" data-toggle="modal" data-target="#add_acy">
           Academic Year <i class="fa fa-plus-circle"></i></button>
    </div>
    <table class="table" id="datatable">
        <thead>
            <tr>
                <th>SN</th>
                <th>Academic Year</th>
                <th>Term</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Total Weeks</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for academic_term in academic_terms %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{academic_term.academic_year}}</td>
                    <td>{{academic_term.term}}</td>
                    <td>{{academic_term.start_date}}</td>
                    <td>{{academic_term.end_date}}</td>
                    <td>{{academic_term.total_week}}</td>
                    <td>
                        <a type="button" data-target="#delete{{academic_term.id}}" data-toggle="modal" >
                            <i class="fa fa-trash text-danger"></i>
                        </a>
                        <a href="{% url 'edit_academic_term' academic_term.id %}"><i class="fa fa-edit text-warning"></i></a>
                    </td>
                </tr>
                <div class="modal fade" id="delete{{academic_term.id}}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-success text-light">
                                Delete {{academic_term.academic_year}} {{academic_term.term}}
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete {{academic_term.academic_year}} {{academic_term.term}}?</p>
                                <form action="{% url 'delete_academic_term' %}" method="POST">
                                    {% csrf_token %}
                                    <input value="{{academic_term.id}}" name="academic_term_id" hidden readonly>
                                    <button class="btn btn-danger btn-sm">Yes delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="add_acy">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success text-light">Register Academic Term</div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    {% include 'includes/form.html' %}
                    <div class="form-group">
                        <button class="btn btn-success text-light ">Save Academic Term</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}