{% extends 'pages/base.html' %}

{% block content %}
<div class="card card-body">
    <div class="mb-3">
        {% if request.user.is_superuser %}
            <button class="btn btn-sm btn-success text-light" data-toggle="modal" data-target="#add_acy">
           Academic Year <i class="fa fa-plus-circle"></i></button>
        {% endif %}
    </div>
    <table class="table" id="datatable">
        <thead>
            <tr>
                <th>SN</th>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Total Weeks</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for academic_year in academic_years %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{academic_year.name}}</td>
                    <td>{{academic_year.start_date}}</td>
                    <td>{{academic_year.end_date}}</td>
                    <td>{{academic_year.total_week}}</td>
                    <td>
                        <a type="button" data-target="#delete{{academic_year.id}}" data-toggle="modal" >
                            <i class="fa fa-trash text-danger"></i>
                        </a>
                        <a href="{% url 'edit_academic_year' academic_year.id %}"><i class="fa fa-edit text-warning"></i></a>
                    </td>
                </tr>
                <div class="modal fade" id="delete{{academic_year.id}}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-success text-light">
                                Delete {{academic_year.name}}
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete {{academic_year.name}}?</p>
                                <form action="{% url 'delete_academic_year' %}" method="POST">
                                    {% csrf_token %}
                                    <input value="{{academic_year.id}}" name="academic_year_id" hidden readonly>
                                    <button class="btn btn-danger btn-sm">Yes delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="add_acy">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success text-light">Register Academic Year</div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    {% include 'includes/form.html' %}
                    <div class="form-group">
                        <button class="btn btn-success text-light ">Save Academic Year</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}