{% extends 'pages/base.html' %}

{% block content %}
{% load widget_tweaks %}
<style>
.django-ckeditor-widget{
    width: 100% !important;
}
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Topic</th>
                            <th>Academic term</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Total week</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{calendar.topic}}</td>
                            <td>{{calendar.academic_term.term.name}}-{{calendar.academic_term.academic_year.name}}</td>
                            <td>{{calendar.start_date}}</td>
                            <td>{{calendar.end_date}}</td>
                            <td>{{calendar.total_week}}</td>
                            <td>
                                <button class="btn btn-success btn-sm"
                                    data-toggle="modal" data-target="#add">
                                    Add session
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-gradient-success text-white">
                <h6>Add new Lesson</h6>
            </div>
            <div class="modal-body">
                {{form.media}}
                {% include 'includes/form.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}