{% extends 'pages/base.html' %}

{% block content %}
{% load widget_tweaks %}
<div class="card card-body">
    {% if request.user.is_superuser %}
        <div class="mb-3">
            <button class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#add_user">
                Add User <i class="fa fa-user-plus"></i>
            </button>
            <button class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#upload">
                Upload Users <i class="fa fa-file-excel-o"></i>
            </button>
            <a class="btn btn-sm btn-outline-warning" href="{% url 'staff_entry_template' 'user_entry_template' %}">
                Get Staff Template <i class="fa fa-download"></i>
            </a>
        </div>
    {% endif %}
    <table class="table" id="datatable">
        <thead>
            <tr>
                <th>SN</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Sex</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Is active</th>
                <th>Is Staff</th>
                <th>Is Superuser</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.sex}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        {% if user.is_active %}
                            <a href="{% url 'set_active' %}?user_id={{user.id}}&&status=is_superuser&&value=False">
                                <i class="fa fa-check-circle text-success"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'set_active' %}?user_id={{user.id}}&&status=is_superuser&&value=True">
                                <i class="fa fa-times-circle text-danger"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.is_staff %}
                            <a href="{% url 'set_staff' %}?user_id={{user.id}}&&status=is_superuser&&value=False">
                                <i class="fa fa-check-circle text-success"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'set_staff' %}?user_id={{user.id}}&&status=is_superuser&&value=True">
                                <i class="fa fa-times-circle text-danger"></i>
                            </a>
                        {% endif %}
                    </td>
                        <td>
                        {% if user.is_superuser %}
                            <a href="{% url 'set_superuser' %}?user_id={{user.id}}&&status=is_superuser&&value=False">
                                <i class="fa fa-check-circle text-success"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'set_superuser' %}?user_id={{user.id}}&&status=is_superuser&&value=True">
                                <i class="fa fa-times-circle text-danger"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <a type="button" data-target="#delete{{user.id}}" data-toggle="modal" >
                            <i class="fa fa-trash text-danger"></i>
                        </a>
                        <a href="{% url 'edit_user' user.id %}"><i class="fa fa-edit text-warning"></i></a>
                    </td>
                </tr>
                <div class="modal fade" id="delete{{user.id}}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-dark text-light">
                                Delete {{user.first_name}} {{user.last_name}}
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this user?</p>
                                <form action="{% url 'delete_user' %}" method="POST">
                                    {% csrf_token %}
                                    <input value="{{user.id}}" name="user_id" readonly hidden>
                                    <button class="btn btn-danger btn-sm">Yes delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="add_user">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-light">New User</div>
            <div class="modal-body">
                <form action="{% url 'save_user' %}" method="POST">
                    {% csrf_token %}
                    {% include 'includes/row-form.html' %}
                    <div class="form-group">
                        <button class="btn btn-primary text-light ">Save user</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="upload">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-gradient-success text-light">Upload User <i class="fa fa-file-excel-o"></i></div>
            <div class="modal-body">
                <form action="{% url 'upload_staff_entry' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <small class="text-danger">Only .xlsx and csv is allowed</small>
                    <div class="mb-3">
                        {% render_field user_form.staff_entry class="form-control" %}
                        <input value="user_template" name="type" readonly hidden>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success text-light btn-sm">Upload user entry</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}