{% extends 'authentication/auth-base.html' %}

{% block content %}
{% load static %}
<div class="container col-md-4 mt-5 justify-content-center">
    <div class="card">
        <div class="card-body">
            <h5 class="text-success text-center mb-4">
                <b>ENHANCED CURRICULUM IMPLEMENTATION SYSTEM FOR SECONDARY SCHOOLS</b>
            </h5>
            <div class="d-flex justify-content-center mb-2">
                <div class="w-25">
                    <img src="{% static 'images/taifa.jpeg' %}" class="w-100">
                </div>
            </div>
            {% include 'includes/messages.html' %}
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-group mt-4">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input class="form-control" placeholder="Username" type="text" name="username" id="username">
                    </div>
                </div>
                <div class="form-group mt-4">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Password" name="password" id="password">
                    </div>
                </div>
                <div class="form-group mt-4">
                    <input type="submit" value="Sign in" onclick="validate()" class="btn btn-success btn-block">
                </div>
<!--                <a href="#"><h6 class="text-success mt-4" id="fid">Forget password?</h6></a>-->
            </form>
        </div>
    </div>
</div>
{% endblock %}